<%- include('partials/header', {useVideoJS: true}) %>

    <main>
        <h2><%= data.title %></h2>
        <video class="ani-video" src="/api/video?url=<%= data.video %>&embed=<%= data.embed %>"></video>

        <div>
            <a href="<%= data.prev %>">
                Prev
            </a>
            <br>
            <a href="<%= data.all %>">
                All Episodes
            </a>
            <br>
            <a href="<%= data.next %>">
                Next
            </a>
        </div>
    </main>

    <%- include('partials/footer') %>