<%- include('partials/header', {useVideoJS: true}) %>

    <main>
        <h2><%= data.title %></h2>
        <video style="max-width: 100%;" id="my-video" class="video-js" controls preload="auto" width="640" height="auto">
            <source src="/api/video?url=<%= data.video %>&embed=<%= data.embed %>" type="video/mp4" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>

        <div>
            <a href="<%= data.prev %>">
                Prev
            </a>
            <br>
            <a href="<%= data.all %>">
                All Episodes
            </a>
            <br>
            <a href="<%= data.next %>">
                Next
            </a>
        </div>

        <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/videojs-flash@2/dist/videojs-flash.min.js"></script>
        <script>
            var player = videojs('my-video', {techOrder: ['html5', 'flash']});
        </script> 
    </main>

    <%- include('partials/footer') %>