<%- include('./header') %>

    <div class="ui container">
        <div class="ui grid">
            <div class="large screen only four wide column">
                <img style="width:100%; object-fit: cover;"src="<%= data.img %>" alt="cover">
            </div>
            <div class="large screen only twelve wide column">
                <h1><%= data.title %></h1>
                <p><%= data.status %></p>
                <p style="white-space: pre-line;"><%= data.desc %></p>
            </div>
            <div class="mobile only sixteen wide column">
                <h1><%= data.title %></h1>
                <p><%= data.status %></p>
                <p style="white-space: pre-line;"><%= data.desc %></p>
            </div>
        </div>
        
        <div class="ui relaxed selection list" style="margin-bottom: 30px;">
        <% data.episodes.forEach(function(item){ %>
            <div class="item">
                <div class="content">
                    <a class="header" href="<%= item.href %>">
                        <%= item.subtitle %>
                    </a>
                    <div class="description"><%= item.title %></div>
                </div>
            </div>
        <% }); %>
    </div>
<%- include('./footer') %>


