<%- include('partials/header') %>

    <main>
        <h2 class="ani-title">
            <%= data.title %>
        </h2>
        <p class="ani-status">
            <%= data.status %>
        </p>

        <div>
            <% (data.episodes || []).forEach(item=> { %>
                <article class="ani-container">
                    <a class="ani-href" href="<%= item.href %>">
                        <span class="ani-title">
                            <%= item.title %>
                        </span>
                    </a><br>
                    <small class="ani-subtitle">
                        <%= item.subtitle %>
                    </small>
                </article>
                <% }) %>
        </div>
    </main>